@font-face {
  font-family: 'Inter';
  src: url('../assets/fonts/InterVF.woff2') format('woff2');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'JetBrains Mono';
  src: url('../assets/fonts/JBMonoVF.woff2') format('woff2');
  font-weight: 100 800;
  font-style: normal;
  font-display: swap;
}